.immediatefeedback_inputGroup {
  display: inline-block;
  margin: 4px ;
  position: relative;
}
.immediatefeedback_inputGroup label {
  padding: 3px 3px 0px 3px;
  background-color: #fff;
  width: 100%;
  display: inline-block;
  text-align: left;
  color: #3C454C;
     border: 2px solid #D1D7DC;

  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.immediatefeedback_inputGroup label:before {
 /* width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
 /* position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;*/

}
.immediatefeedback_inputGroup label:after {
  border: 2px solid #D1D7DC;
 /* width: 32px;
  height: 32px;
  content: '';

  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;*/
}
.immediatefeedback_inputGroup input:checked ~ label {
 /* color: #fff; */
      border: 2px solid #000;

}
.immediatefeedback_inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.immediatefeedback_inputGroup input:checked ~ label:after {
  background-color: #54E0C7;
  border-color: #54E0C7;
/*  border-color: #000; */

}
.immediatefeedback_inputGroup input {
  /*width: 32px;
  height: 32px;*/
  order: 1;
  z-index: 2;
  position: absolute;
  /*right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);*/
  cursor: pointer;
  visibility: hidden;
}

.form {
 /* padding: 0 16px;
  max-width: 550px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;*/
}

label.number {
  /*width: 32px;
  height: 32px;*/
   border: 2px solid #D1D7DC;
  background-color: #fff;
  /*background-position: 2px 3px;
  border-radius: 50%;*/
  z-index: 2;
  position: absolute;
}


body {
  font-family: 'Fira Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

code {
  background-color: #9AA3AC;
 /* padding: 0 8px;*/
}
